<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BoardMapper">
  <select id="boardList" resultType="kr.smhrd.domain.Board">
    select * from board1 order by idx desc
  </select>
  
  <!-- 데이터를 받아서 세팅을 해줘야 해서 parameterType  -->
  <insert id="boardInsert" parameterType="kr.smhrd.domain.Board">
      insert into board1(userId,title, contents, writer)
      values(#{userId},#{title}, #{contents}, #{writer})
  </insert>
  
  <select id="boardContent" resultType="kr.smhrd.domain.Board" parameterType="int">
    select * from board1 where idx = #{idx};
  </select>
  
  <delete id="boardDelete" parameterType="int">
    delete from board1 where idx = #{idx};
  </delete>
  
 <update id="boardUpdate" parameterType="kr.smhrd.domain.Board">
    update board1 set title=#{title}, contents=#{contents} where idx=#{idx}
  </update>

 <update id="boardUpdateAjax" parameterType="kr.smhrd.domain.Board">
    update board1 set contents=#{contents} where idx=#{idx}
 </update>
  
</mapper>